.row
  .small-12.columns.text-center
    %h1= link_to "Shortly", root_path

.row
  .small-12.small-centered.large-6.large-centered.columns
    = form_for @link, html: {class: "custom"} do |f|
      .row.collapse
        .small-3.large-3.colums.left
          = select_tag "prefix", options_for_select(["http://", "https://"])
        .small-9.large-9.columns= f.text_field :url, autofocus: true, placeholder: "URL to shorten"
      .row
        .small-6.small-centered.columns= f.text_field :title, placeholder: "Alias (no spaces)"
        .small-4.small-centered.columns
          = f.submit "Shorten", class: "button expand"

- if @shortened_link
  .row
    .small-12.large-4.large-centered.columns.text-center
      / %h1= @shortened_link
      / %input{value: @shortened_link.to_s, autofocus: true}
      = text_field_tag :shortened_link, @shortened_link, autofocus: true
