<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Shortly - The best URL shortener</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="flash">
      <%= render partial: 'layouts/flash', locals: { flash: flash } %>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
<div class="debug_zone">
  <p>Params: <%= params.to_json %></p>
  <p>Flash: <%= flash.to_json %></p>
  <p>Flash message: <%= flash.each {|name, msg| msg.to_json } %>
</div>
  </body>
</html>